#root {
	max-width: 1520px;
	margin: 0 auto;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #f5f5f5;
	min-height: 100vh;
}

body {
	margin: 0;
}

.App h1 {
	color: #333;
	font-size: 2.2em;
}